
<div class='topper'><h1>Share the Outdoors</h1>
<input placeholder='Tents, Bags...'> {{view App.AutoCompleteIndexView}}<button class='btn'>Onward!</button></div>
<!-- This will need to be a 'Get' request -->
<div class='mainPage'> <h2 class='glyphicon glyphicon-chevron-down' id='scrollGuide'></h2><h4> <img style='float:left; margin:5px 10px;' src='img/uploads/10.-pangea_politik.jpg'> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</h3>

<h4>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4></div>


{{!-- <script src='/lib/rome/dist/rome.js'></script>
<script>
rome(left, {
    time: false,
  dateValidator: rome.val.beforeEq(right)
});

rome(right, {
    time: false,
  dateValidator: rome.val.afterEq(left)
});
</script> --}}