<div id='outer'><div class='conta'>
			<h1>Search</h1>
			<div class='topper'>
				<input placeholder='Tents, Bags...'> {{view App.AutoCompleteIndexView}}<button class='btn'>Onward!</button></div>
			</div>
</div>
</div>